:root {
	--app-height: auto;
	--base-color: #F9D87F;
	--header-height: 60px;
	--nav-height: 40px;
	--aside-width: 240px;
	--logo-height: 50px;
	--footer-height: 36px;
	--mobile-header: 46px;
	--box-padding: 12px;
	--box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

/* 表格 */
.table-container {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: var(--box-padding);
	min-height: calc(var(--content-height) - var(--footer-height) - 24px);
	background-color: #fff;
	border-radius: 4px;
	box-shadow: var(--box-shadow);
	box-sizing: border-box;
}

.table-container.fix-height {
	height: calc(var(--content-height) - var(--footer-height) - 24px);
}

.table-container.no-background {
	padding: 0;
	background-color: transparent;
	box-shadow: none;
	border-radius: 0;
}

.table-container > .nav-btn-box {
	position: relative;
	margin-bottom: 10px;
	/*border-radius: 4px;*/
	/*box-shadow: var(--box-shadow);*/
}

.table-container > .nav-btn-box > .el-scrollbar {
	position: static;
}

.table-container > .table-view {
	flex: 1;
	background-color: #fff;
}

.table-container > .table-view > .el-table {
	height: 100%;
	font-size: 12px;
}

/* 按钮 */
.table-container > .table-view > .el-table .el-button {
	padding: 0;
	height: 14px;
	font-size: 12px;
}

.table-container > .table-view > .el-table .el-button + .el-button {
	margin-left: 6px;
}

.table-container > .table-view > .el-table .table-header {
	background-color: #eee;
	color: #888;
}

.table-container > .table-view > .el-table .table-header th {
	background-color: transparent;
}

.table-container > .table-view > .el-table .el-table__body .cell {
	line-height: 14px;
}

.table-container > .table-view > .el-pagination {
	margin-top: 10px;
	justify-content: flex-end;
}

/* 弹窗 */
.table-container .el-dialog {
	--dialog-height: 500px;
	margin: calc((var(--app-height) - var(--dialog-height)) / 2) auto 0;
	width: 600px;
	height: var(--dialog-height);
}

.table-container .el-dialog .el-dialog__header {
	position: relative;
	height: 54px;
	box-sizing: border-box;
	z-index: 99999;
}

.table-container .el-dialog .el-dialog__body {
	padding: 0;
}

.table-container .el-dialog.no-header .el-dialog__body {
	margin-top: -34px;
}

/* 弹窗详情 */
.dialog-body {
	position: relative;
	padding: 0 50px;
	color: #666;
	font-family: "微软雅黑", Consolas, monospace;
}

.dialog-body > .section-info {
	position: relative;
	padding: 15px 0;
	border-bottom: 1px solid #cccccc;
}

.dialog-body > .section-info:last-child {
	border-bottom: none;
}

.dialog-body > .section-info > .title {
	margin-bottom: 15px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	font-size: 18px;
	font-weight: 700;
	color: #333;
}

.dialog-body > .section-info > .desc {
	margin-top: 10px;
}

/* 保存 */
.dialog-body .save {
	display: block;
	margin: 20px auto 10px;
	width: 100px;
	font-size: 14px;
}

/* 横向滚动组件 */
.el-scrollbar.horizontal-wrap > .el-scrollbar__wrap {
	overflow-y: hidden;
}

.el-scrollbar.horizontal-wrap > .el-scrollbar__bar.is-horizontal {
	display: block;
}

.el-scrollbar.horizontal-wrap > .el-scrollbar__bar.is-vertical {
	display: none;
}

@media (max-width: 768px) {
	.table-container > .table-view {
		padding: 0;
	}

	.dialog-body {
		padding: 0 20px;
		font-size: 12px;
	}

	.dialog-body > .section-info {
		padding: 8px 0;
	}

	.dialog-body > .section-info > .title {
		margin-bottom: 8px;
		height: 20px;
		font-size: 14px;
		line-height: 20px;
	}
}