@font-face {
	font-family: "iconfont"; /* Project id 3436988 */
	src: url('./font/iconfont.woff2?t=1654585920454') format('woff2'),
	url('./font/iconfont.woff?t=1654585920454') format('woff'),
	url('./font/iconfont.ttf?t=1654585920454') format('truetype');
}

i[class^="icon-"], i[class*="icon-"] {
	font-family: "iconfont" !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-group:before {
	content: "\e601";
}

.icon-memories:before {
	content: "\eabe";
}

.icon-cpu:before {
	content: "\eabf";
}

.icon-close:before {
	content: "\e600";
}

.icon-open:before {
	content: "\eabd";
}

.icon-home:before {
	content: "\eab5";
}

.icon-logs:before {
	content: "\eab8";
}

.icon-dashboard:before {
	content: "\eaba";
}

.icon-user:before {
	content: "\eabb";
}

.icon-exit:before {
	content: "\eabc";
}

