/config/
/data/
/database/
/node_modules/
/.idea/
/.vscode/
/.history/
/logs/
/src/plugins/genshin/data/

/src/plugins/
!/src/plugins/@help/
!/src/plugins/@management/
!/src/plugins/genshin/
!/src/plugins/tools/
