:root {
    --app-height: auto;
    --base-color: #F9D87F;
    --header-height: 60px;
    --nav-height: 40px;
    --aside-width: 240px;
    --logo-height: 50px;
    --footer-height: 36px;
    --mobile-header: 46px;
    --box-padding: 12px;
    --box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

/* 表格 */
.table-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: var(--box-padding);
    min-height: calc(var(--content-height) - var(--footer-height) - 24px);
    background-color: #fff;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    box-sizing: border-box;

    &.fix-height {
        height: calc(var(--content-height) - var(--footer-height) - 24px);
    }

    &.no-background {
        padding: 0;
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
    }

    > .nav-btn-box {
        position: relative;
        margin-bottom: 10px;
        /*border-radius: 4px;*/
        /*box-shadow: var(--box-shadow);*/
        > .el-scrollbar {
            position: static;
        }
    }

    > .table-view {
        flex: 1;
        background-color: #fff;

        > .el-table {
            height: 100%;
            font-size: 12px;
        }

        /* 按钮 */
        .el-table {
            .el-button {
                padding: 0;
                height: 14px;
                font-size: 12px;

                + .el-button {
                    margin-left: 6px;
                }
            }

            .table-header {
                background-color: #eee;
                color: #888;

                th {
                    background-color: transparent;
                }
            }

            .el-table__body {
                .cell {
                    line-height: 14px;
                }
            }
        }

        > .el-pagination {
            margin-top: 10px;
            justify-content: flex-end;
        }
    }

    /* 弹窗 */
    .el-dialog {
        --dialog-height: 500px;
        margin: calc((var(--app-height) - var(--dialog-height)) / 2) auto 0;
        width: 600px;
        height: var(--dialog-height);

        .el-dialog__header {
            position: relative;
            height: 54px;
            box-sizing: border-box;
            z-index: 99999;
        }

        .el-dialog__body {
            padding: 0;
        }

        &.no-header {
            .el-dialog__body {
                margin-top: -34px;
            }
        }
    }
}

/* 弹窗详情 */
.dialog-body {
    position: relative;
    padding: 0 50px;
    color: #666;
    font-family: "微软雅黑", Consolas, monospace;

    > .section-info {
        position: relative;
        padding: 15px 0;
        border-bottom: 1px solid #cccccc;

        &:last-child {
            border-bottom: none;
        }

        > .title {
            margin-bottom: 15px;
            height: 28px;
            text-align: center;
            line-height: 28px;
            font-size: 18px;
            font-weight: 700;
            color: #333;
        }

        > .desc {
            margin-top: 10px;
        }
    }
}

/* 保存 */
.dialog-body {
    .save {
        display: block;
        margin: 20px auto 10px;
        width: 100px;
        font-size: 14px;
    }
}

/* 横向滚动组件 */
.el-scrollbar {
    .horizontal-wrap {
        .el-scrollbar__wrap {
            overflow-y: hidden;
        }

        .el-scrollbar__bar {
            &.is-horizontal {
                display: block;
            }

            &.is-vertical {
                display: none;
            }
        }
    }
}

/** 插件表单样式 **/
.config {
    .config-form {
        padding: 10px 0 10px 20px;
    }

    .config-section {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.user {
    /* 用户 */
    .table-view {
        > .el-table {
            .user-info {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 10px;

                .user-avatar {
                    width: 24px;
                    height: 24px;
                    border-radius: 4px;
                }

                .user-nickname {
                    width: 220px;
                    margin-left: 18px;
                    text-align: left;
                }
            }
        }
    }

    /* 弹窗 */
    .user-detail-dialog {
        --dialog-height: 859px;
        width: 600px;
    }

    .group-detail-dialog {
        --dialog-height: 600px;
        width: 600px;
    }

    .send-msg-dialog {
        --dialog-height: 470px;
        width: 550px;
    }
}

/* 表格高亮块 */
.user > .table-view > .el-table .lighter-block {
    display: inline-block;
    padding: 3px 6px;
    background-color: #727272;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
}

@media (max-width: 768px) {
    .table-container > .table-view {
        padding: 0;
    }

    .dialog-body {
        padding: 0 20px;
        font-size: 12px;
    }

    .dialog-body > .section-info {
        padding: 8px 0;
    }

    .dialog-body > .section-info > .title {
        margin-bottom: 8px;
        height: 20px;
        font-size: 14px;
        line-height: 20px;
    }

    .user {
        .user-detail-dialog {
            --dialog-height: 563px;
            width: 90%;
        }

        .group-detail-dialog {
            --dialog-height: 394px;
            width: 90%;
        }

        .send-msg-dialog {
            --dialog-height: 400px;
            width: 90%;
        }
    }
}