.user-detail {
    .user-base-info {
        display: flex;

        > .avatar {
            flex-shrink: 0;
            width: 108px;
            height: 108px;
            border-radius: 4px;
        }

        > .public-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
            position: relative;
            margin-left: 28px;

            .label {
                margin-right: 16px;
                font-weight: 700;
                color: #333;
            }
        }
    }

    /* 使用分布 */
    .group-info {
        height: 60px;

        p {
            line-height: 24px;
            font-size: 15px;
            padding-left: 20px;
        }
    }

    /* 禁用指令列表 */
    .limit-info {
        height: 60px;

        .limit-list {
            display: flex;
            flex-wrap: wrap;
            padding: 0 20px;

            > li {
                width: 50%;
                line-height: 24px;
                font-size: 15px;

                &:not(.limit-empty) {
                    cursor: pointer;

                    &:hover {
                        color: var(--el-color-primary);
                    }
                }
            }
        }
    }

    /* 订阅列表 */
    .sub-info {
        height: 60px;

        .sub-list {
            display: flex;
            flex-wrap: wrap;
            padding: 0 20px;

            > li {
                width: 50%;
                line-height: 24px;
                font-size: 15px;
            }
        }
    }

    /* 管理面板 */
    .management-info {
        > .article-item {
            display: flex;
            align-items: center;
            margin: 6px;
            height: 36px;

            > .label {
                font-size: 16px;
                height: 36px;
                line-height: 36px;
                font-weight: 700;
                margin-right: 20px;
                color: #333;
                flex-shrink: 0;
            }

            > .content {
                display: flex;
                align-items: center;
                flex: 1;
            }
        }

        /* 权限设置 */
        > .auth-management {
            .el-radio-group {
                .el-radio-button {
                    opacity: .3;
                    transition: opacity .2s;

                    &:first-child {
                        border-radius: 4px 0 0 4px;
                    }

                    &:last-child {
                        border-radius: 0 4px 4px 0;
                    }

                    &.is-active {
                        opacity: 1;
                    }

                    :deep(.el-radio-button__inner) {
                        padding: 7px 14px;
                        background-color: transparent;
                        border: none;
                        box-sizing: border-box;
                        color: #ffffff;
                        font-size: 16px;
                        box-shadow: none !important;
                    }
                }
            }
        }

        /* 操作冷却 */
        > .int-management {
            .el-input {
                position: relative;
                width: 86px;

                :deep(.el-input__wrapper) {
                    padding: 0 20px 0 5px;
                    height: inherit;
                    background-color: transparent;
                    border: none;
                    border-radius: 0;
                    border-bottom: 1px solid #424242;
                    text-align: center;
                    box-shadow: none;
                }

                :deep(.el-input__suffix) {
                    color: #424242;
                    width: 16px;
                    height: inherit;
                    line-height: var(--el-input-height);
                }
            }
        }

        /* 指令权限 */
        > .limit-management {
            .el-select {
                width: 186px;

                .el-input {
                    height: var(--el-input-height);
                    line-height: var(--el-input-height);
                    font-size: 14px;
                }

                :deep(.el-input__wrapper) {
                    border: none;
                    background-color: transparent;
                    color: #424242;
                    padding: 0;
                    box-shadow: none !important;
                }

                :deep(.el-input__inner) {
                    &::placeholder {
                        color: #424242;
                        font-size: 14px;
                    }
                }

                .limit-key-dropdown-item {
                    font-size: 14px;
                    line-height: 26px;
                    height: 26px;
                    color: #424242;
                }
            }

            .el-radio-group {
                margin-left: 32px;
            }

            :deep(.el-radio-button__inner) {
                padding: 0 10px;
                width: 50px;
                height: 28px;
                background-color: #f1f1f1;
                border-color: #616161;
                color: #333;
                font-size: 14px;
                line-height: 28px;
            }

            .is-active {
                :deep(.el-radio-button__inner) {
                    background-color: #b1b1b1;
                    box-shadow: none;
                    color: #fff;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .user-detail {
        .user-base-info {
            > .avatar {
                width: 46px;
                height: 46px;
                align-self: center;
            }
        }

        .group-info,
        .limit-info,
        .sub-info {
            height: 40px;
        }

        .group-info p,
        .limit-info .limit-list > li,
        .sub-info .sub-list > li {
            font-size: 12px;
        }

        .management-info {
            > .article-item {
                margin: 4px;
                height: 24px;

                > .label {
                    height: 24px;
                    line-height: 24px;
                    margin-right: 10px;
                    font-size: 12px;
                }
            }

            > .int-management .el-input,
            > .limit-management .el-select .el-input {
                --el-input-height: 24px;
                height: var(--el-input-height);
                font-size: 12px;
            }

            .limit-management {
                .el-select {
                    width: 140px;
                }
            }

            .auth-management {
                .el-radio-group {
                    .el-radio-button {
                        :deep(.el-radio-button__inner) {
                            padding: 4px 6px;
                            font-size: 12px;
                        }
                    }
                }
            }

            .limit-management {
                .el-radio-group {
                    margin-left: 16px;
                }

                :deep(.el-radio-button__inner) {
                    padding: 0 5px;
                    width: 38px;
                    height: 22px;
                    line-height: 20px;
                    font-size: 12px;
                }
            }
        }

        .save {
            height: 24px;
            width: 80px;
            padding: 2px 8px;
            font-size: 12px;
        }
    }
}