.login {
	color: #2c3e50;
}

.login-header {
	padding: 100px 40px 15px;
}

.login-inner {
	max-width: 1260px;
	margin: 0 auto;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.login-logo {
	width: 215px;
	height: 215px;
	margin-right: 2rem;
}

.login-title {
	font-size: 2.4rem;
	padding: 0;
	margin: auto 0;
	border-bottom: 0;
	font-weight: 300;
}

.login-title span {
	display: block;
}

.login-title span:first-child {
	font-size: 2rem;
	font-weight: 500;
}

.login-main {
	max-width: 420px;
	width: 60vw;
	margin: 1rem auto 0 auto;
}

.login-main .el-input__inner {
	position: relative;
	margin: 0.25rem 0;
}

.login-main .el-button {
	position: relative;
	display: flex;
	margin: 1.5rem auto 0 auto;
	background-color: #409eff;
}

@media (max-width: 768px) {
	a {
		margin: 0 auto;
	}

	.login-header {
		padding-bottom: 0;
	}

	.login-logo {
		margin: 0 0 1.2rem;
	}

	.login-inner {
		flex-direction: column;
		text-align: center;
	}

	.login-title {
		margin: 0 auto;
	}

	.login-main .el-button {
		margin-top: 0.75rem;
	}

	.login-title span {
		font-size: 2.1rem;
	}

	.login-title span:first-child {
		font-size: 1.8rem;
	}
}