.stat-page {
	position: relative;
	display: flex;
	width: 100%;
	min-height: calc( 100vh - 16px - 12px - 1px - var( --footer-height ) );
}

.week-stat, .day-stat {
	position: relative;
	display: inline-flex;
	width: 50%;
	margin: auto;
}

.stat-page .picker {
	position: absolute;
	width: 35%;
	z-index: 10000;
	margin: 0 32.5%;
	top: 8px;
}

.stat-page .picker .el-input__inner {
	background: transparent;
	border: none;
	font-size: 15px;
	font-weight: 800;
	padding: 0;
	text-align: center;
}

.stat-page .picker .el-input__prefix,
.stat-page .picker .el-input__suffix {
	display: none;
}

.chart {
	width: 100%;
	height: 100%;
}

@media (max-width: 768px) {
	.stat-page {
		min-height: 0;
		display: block;
	}

	.week-stat, .day-stat {
		width: 100%;
		margin: 0;
	}
}