.user-page {
	position: absolute;
	width: 70%;
	height: 85%;
	margin: 4% 15% 6%;
}

.search-container {
	position: relative;
	display: inline-flex;
	vertical-align: middle;
	width: 35.5%;
	height: 100%;
	background-color: #f1f1f1;
	border-radius: 10px;
	box-shadow: 1px 1px 8px;
}

.search-container .input-box {
	position: absolute;
	top: 2px;
	left: 0;
	width: 90%;
	margin: 0 5%;
	height: 36px;
	border-bottom: 1px solid #424242;
}

.search-container .input-box .el-input__inner {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 8px;
	height: 36px;
	border: none;
	background-color: #f1f1f1;
}

.search-container .input-box .el-input__inner::placeholder {
	color: #424242;
}

.search-container .filtered-data {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: calc( 100% - 36px );
}

.search-container .filtered-data .el-scrollbar__wrap {
	width: 90%;
	height: 95.5%;
	padding: 3% 5% 1.5%;
}

.filtered-data .user-button {
	font-size: 16px;
	height: 26px;
	line-height: 26px;
	padding-left: 8px;
	font-family: Consolas, monospace;
}

.filtered-data .user-button:hover {
	background-color: rgba(105, 191, 222, 0.5);
}

.user-data-wrapper {
	position: relative;
	display: inline-flex;
	vertical-align: middle;
	width: 57%;
	margin-left: 7.5%;
	height: 100%;
	background-color: #f1f1f1;
	box-shadow: 1px 1px 8px;
	border-radius: 10px;
}

.user-data-container {
	position: relative;
	width: 90%;
	height: 94%;
	margin: auto;
}

.user-data-container .empty {
	position: relative;
	display: inline-block;
	text-align: center;
	width: 100%;
	top: 50%;
	transform: translateY( -50% );
}

.user-data-container .title {
	width: 100%;
	text-align: center;
	height: 28px;
	line-height: 28px;
	font-size: 18px;
	font-weight: 800;
	font-family: "微软雅黑", Consolas, monospace;
}

.user-base-info {
	position: relative;
	width: 100%;
	height: calc( 32.5% - 28px );
	border-bottom: 1px solid #cccccc;
}

.user-base-info .avatar {
	position: relative;
	display: inline-block;
	height: 90%;
	margin: auto 1.5%;
	top: 50%;
	transform: translateY( -50% );
	vertical-align: middle;
}

.user-base-info .public-info {
	position: relative;
	display: inline-block;
	height: 90%;
	top: 50%;
	margin-left: 3%;
	transform: translateY( -50% );
	vertical-align: middle;
	font-family: Consolas, monospace;
}

.user-base-info .public-info .inner {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.user-base-info .public-info .bold {
	font-weight: 800;
	margin-right: 16px;
}

.user-base-info .public-info .inner p {
	flex: 1;
	display: flex;
	width: 100%;
}

.user-base-info .public-info .inner > p > span {
	align-self: center;
}

.group-info {
	position: relative;
	height: 22.5%;
	width: 100%;
	border-bottom: 1px solid #cccccc;
}

.group-info .group-used-list {
	position: relative;
	width: 100%;
	height: calc( 100% - 36px );
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	flex-wrap: wrap;
}

.group-info .group-used-item {
	position: relative;
	display: inline-block;
	flex-direction: column;
	width: 100%;
	font-family: Consolas, monospace;
}

.group-info .group-used-item p {
	line-height: 24px;
	font-size: 15px;
	padding-left: 5%;
}

.management-window {
	position: relative;
	width: 100%;
	height: 45%;
	font-family: Consolas, monospace;
}

.management-window .content {
	position: relative;
	display: inline-block;
	font-size: 17px;
	height: 36px;
	line-height: 36px;
	font-weight: 800;
	margin-right: 5%;
}

.management-window > div {
	width: 100%;
	margin-top: 6px;
	height: 36px;
}

.management-window .auth-management .content {
	vertical-align: middle;
}

.management-window .auth-management .el-radio-group {
	vertical-align: middle;
	margin: 3px 0;
}

/* Banned */
.auth-management .el-radio-group .el-radio-button.is-active:nth-child(1) .el-radio-button__inner {
	background-color: #727272;
}
.auth-management .el-radio-group .el-radio-button:nth-child(1) .el-radio-button__inner {
	background-color: #cccccc;
}
/* User */
.auth-management .el-radio-group .el-radio-button.is-active:nth-child(2) .el-radio-button__inner {
	background-color: #55db2c;
}
.auth-management .el-radio-group .el-radio-button:nth-child(2) .el-radio-button__inner {
	background-color: #c2f2b3;
}
/* Manager */
.auth-management .el-radio-group .el-radio-button.is-active:nth-child(3) .el-radio-button__inner {
	background-color: #31c0c2;
}
.auth-management .el-radio-group .el-radio-button:nth-child(3) .el-radio-button__inner {
	background-color: #b5e8e9;
}
/* Master */
.auth-management .el-radio-group .el-radio-button.is-active:nth-child(4) .el-radio-button__inner {
	background-color: #ff0000;
}
.auth-management .el-radio-group .el-radio-button:nth-child(4) .el-radio-button__inner {
	background-color: #ffa3a3;
}

.management-window .auth-management .el-radio-button__inner {
	box-sizing: border-box;
	font-size: 16px;
	padding: 7px 14px;
	color: #ffffff;
	border: none;
	box-shadow: none !important;
}

.management-window .save {
	position: relative;
	display: block;
	width: 72px;
	padding: 0;
	margin: 8px auto 0;
	font-size: 14px;
	background-color: transparent;
	border: none;
	color: #424242;
	font-weight: 800;
	font-family: "微软雅黑", monospace;
}

.management-window .int-management .content {
	vertical-align: middle;
}

.management-window .int-management .el-input {
	position: relative;
	vertical-align: middle;
	width: 20%;
	height: inherit;
}

.management-window .int-management .el-input__inner {
	height: inherit;
	border: none;
	padding: 0 20px 0 0;
	text-align: center;
	background-color: transparent;
	width: 100%;
	border-bottom: 1px solid #424242;
	border-radius: 0;
}

.management-window .int-management .el-input__suffix {
	color: #424242;
	width: 16px;
	height: inherit;
	line-height: 36px;
}

.management-window .limit-management {
	position: relative;
}

.management-window .limit-management .el-select {
	width: 45%;
}

.management-window .limit-management .el-input__inner {
	border: none;
	background-color: transparent;
	color: #424242;
	height: 36px;
	line-height: 36px;
	padding: 0 28px 0 0;
	font-size: 14px;
	font-family: Consolas, monospace;
}

.management-window .limit-management .el-input__inner::placeholder {
	color: #424242;
	font-size: 14px;
	font-family: Consolas, monospace;
}

.management-window .limit-management .el-radio-group {
	position: absolute;
	top: 0;
	right: 2.5%;
}

.management-window .limit-management .el-radio-button__inner {
	font-size: 14px;
	height: 36px;
	padding: 10px 12px;
	color: #000000;
	background-color: #f1f1f1;
	border-color: #616161;
}

.management-window .limit-management .is-active .el-radio-button__inner {
	box-shadow: none;
	color: #ffffff;
	background-color: #b1b1b1;
}

.limit-key-dropdown-item {
	font-size: 14px;
	line-height: 26px;
	height: 26px;
	font-family: Consolas, monospace;
	color: #424242;
}

@media (max-width: 768px) {
	:root {
		--management-mobile-height: 22px;
	}

	.user-page {
		width: 90%;
		margin: 2% 5%;
		height: 96%;
	}

	.search-container {
		width: 100%;
		height: 35%;
		box-shadow: 0.03125rem 0.03125rem 3px;
	}

	.search-container .input-box,
	.search-container .input-box .el-input__inner {
		height: 30px;
	}

	.search-container .filtered-data {
		height: calc( 100% - 30px );
	}

	.user-data-wrapper {
		position: absolute;
		width: 100%;
		margin-left: 0;
		height: 62.5%;
		bottom: 0;
		left: 0;
		box-shadow: 0.03125rem 0.03125rem 3px;
	}

	.user-data-container {
		width: 93.5%;
		height: 95%;
	}

	.user-data-container .title {
		height: var( --management-mobile-height );
		line-height: var( --management-mobile-height );
		font-size: 15px;
	}

	.user-base-info {
		height: calc( 32.5% - var( --management-mobile-height ) );
	}

	.user-base-info .public-info {
		font-size: 13px;
	}

	.group-info .group-used-list {
		height: calc( 100% - 30px );
	}

	.group-info .group-used-item p {
		line-height: 16px;
		font-size: 12px;
	}

	.management-window > div {
		margin-top: 8px;
	}

	.management-window .content {
		font-size: 13px;
		height: var( --management-mobile-height );
		line-height: var( --management-mobile-height );
		margin-right: 5%;
	}

	.auth-management {
		height: var( --management-mobile-height ) !important;
	}

	.auth-management .el-radio-group {
		margin: 0 !important;
	}

	.auth-management .el-radio-button__inner {
		font-size: 11px !important;
		padding: 0.3125rem 5px !important;
	}

	.int-management {
		height: var( --management-mobile-height ) !important;
	}

	.int-management .el-input {
		width: 30%;
		line-height: var( --management-mobile-height );
	}

	.int-management .el-input__inner {
		height: var( --management-mobile-height );
		padding: 0 16px 0 0;
		font-size: 12px;
	}

	.int-management .el-input__suffix {
		width: 13px;
		height: var( --management-mobile-height );
		line-height: var( --management-mobile-height ) !important;
	}

	.limit-management {
		height: var( --management-mobile-height ) !important;
	}

	.limit-management .el-select {
		width: 50% !important;
	}

	.limit-management .el-input__inner {
		height: var( --management-mobile-height ) !important;
		line-height: var( --management-mobile-height ) !important;
	}

	.limit-management .el-input__inner {
		height: var( --management-mobile-height ) !important;
		line-height: var( --management-mobile-height ) !important;
		padding: 0 28px 0 0;
		font-size: 12px !important;
	}

	.limit-management .el-input__inner::placeholder {
		font-size: 12px !important;
	}

	.limit-management .el-radio-button__inner {
		font-size: 11px !important;
		height: 22px !important;
		padding: 4px 6px !important;
	}

	.limit-key-dropdown-item {
		font-size: 11px;
		line-height: 20px;
		height: 20px;
	}
}