* {
    margin: 0;
    padding: 0;
}

html {
    font-family: GenshinUsedFont, monospace;
}

body {
    width: 1107px;
    height: 1164px;
}

.background {
    position: absolute;
}

.background .transparent {
    position: relative;
    left: 35px;
    top: 37px;
    height: 1090px;
    width: 1037px;
    background-color: rgba(255, 255, 255, 0.73);
}

.background .plate {
    float: left;
    height: 1164px;
    width: 1107px;
    background-color: var(--backgroundColor);
}

.uid,
.author {
    position: absolute;
    font-size: 21px;
    color: white;
}

.author {
    left: 10px;
    top: 5px;
}

.portrait {
    position: absolute;
    width: 515px;
    height: 515px;
    left: 557px;
    top: 612px;
}

.uid {
    position: absolute;
    width: 230px;
    text-align: right;
    left: 870px;
    top: 1132px;
}

.title {
    position: absolute;
    font-size: 36px;
    color: var(--titleColor);
    left: 80px;
}

.split {
    position: absolute;
    height: 4px;
    left: 73px;
    background-color: var(--splitLineColor);
}

.split-artifact {
    width: 730px;
    top: 298px;
}

.split-weapon {
    width: 380px;
    top: 712px;
}

.title-artifact {
    top: 250px;
}

.title-weapon {
    top: 664px;
}

.left {
    position: absolute;
    left: 75px;
    top: 60px;
    font-size: 88px;
    color: var(--baseInfoColor);
    font-family: HuaWen, monospace;
}

.base-info .element {
    position: relative;
    display: inline-block;
    font-size: 36px;
    color: var(--elementColor);
    font-family: GenshinUsedFont, monospace;
    margin-left: 5px;
}

.right {
    position: absolute;
    font-size: 36px;
    color: var(--contentColor);
    left: 788px;
    top: 60px;
    text-align: right;
    font-weight: bolder;
    font-family: HuaWen, monospace;
}

.level {
    font-size: 50px;
    color: var(--baseInfoColor);
}

.reliquaries {
    left: 51px;
    top: 317px;
    position: absolute;
    display: flex;
    width: 1120px;
    flex-wrap: wrap;
}

.reliquaries .element {
    position: relative;
}

.empty-box,
.artifact {
    font-size: 24px;
    width: 340px;
    margin-bottom: 13px;
    height: 140px;
}

.artifact-image {
    width: 130px;
}

.artifact-context {
    position: relative;
    top: -37px;
    display: inline-block;
    width: 190px;
}

.artifact-name {
    color: var(--contentColor);
}

.artifact-rarity {
    display: inline-block;
    color: rgb(232, 169, 0);
}

.artifact-level {
    display: inline-block;
    color: rgb(0, 112, 192);
}

.empty-image {
    margin: 15px;
    width: 100px;
    height: 100px;
}

.empty-context {
    position: relative;
    display: inline-block;
    top: -56px;
    color: var(--contentColor);
}

.weapon {
    position: absolute;
    left: 56px;
    top: 758px;
    height: 369px;
}

.weapon-image {
    width: 194px;
}

.weapon-context {
    margin: 10px 0 0 10px;
    position: absolute;
    display: inline-block;
    width: 320px;
    height: calc( 100% - 10px );
}

.weapon-name {
    font-size: 31px;
    display: inline-block;
    color: var(--contentColor);
}

.weapon-refine {
    font-size: 21px;
    display: inline-block;
    color: var(--contentColor);
    margin-left: 8px;
}

.weapon-rarity {
    font-size: 29px;
    display: inline-block;
    color: rgb(232, 169, 0);
}

.weapon-level {
    font-size: 21px;
    display: inline-block;
    color: rgb(0, 112, 192);
    margin-left: 8px;
}

.weapon-desc {
    font-size: 21px;
    color: rgb(73, 83, 102);
    width: 283px;
}

@font-face {
    font-family: GenshinUsedFont;
    src: url("../../../../data/font/HYWenHei-85W.ttf");
}

@font-face {
    font-family: HuaWen;
    src: url("../../../../data/font/HWZhongSong.ttf");
}