<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>genshin-character</title>
	<script src="../../data/js/vue.min.js"></script>
	<script src="./component/character/character.js"></script>
	<link rel="stylesheet" href="./component/character/character.css">
</head>
<body>

<div id="app">
	<background
		:uid="uid"
		:character="id"
	></background>
	<base-info
		:name="name"
		:element="elementName"
		:level="level"
		:fetter="fetter"
		:constellation="constellate"
	></base-info>
	<reliquaries
		:artifacts="artifacts"
	></reliquaries>
	<weapon-box
		:weapon="weapon"
		:len="contextLen"
	></weapon-box>
</div>

<template id="background">
	<div class="background">
		<p class="author">Created by Adachi-BOT</p>
		<div class="plate"></div>
		<div class="transparent"></div>

		<p class="title title-artifact">圣遗物</p>
		<div class="split split-artifact"></div>
		<p class="title title-weapon">武器</p>
		<div class="split split-weapon"></div>

		<img class="portrait" :src="image" alt="ERROR"/>
		<p class="uid">UID: {{uid}}</p>
	</div>
</template>

<template id="base-info">
	<div class="base-info">
		<div class="left">
			{{name}} <p class="element">{{element}}</p>
		</div>
		<div class="right">
			<p class="level">Lv.{{level}}</p>
			<p class="constellation">命之座层数: {{constellationCN}}</p>
			<p class="fetter">好感度: {{fetterCN}}</p>
		</div>
	</div>
</template>

<template id="reliquaries">
	<div class="reliquaries">
		<div class="element" v-for="i in 5">
			<div v-if="artifacts[i] === 'empty'">
				<empty-box
					:pos="i"
				></empty-box>
			</div>
			<div v-else>
				<artifact
					:detail="artifacts[i]">
				</artifact>
			</div>
		</div>
	</div>
</template>

<template id="artifact">
	<div class="artifact">
		<img class="artifact-image" :src="detail.icon" alt="ERROR"/>
		<div class="artifact-context">
			<p class="artifact-name">{{detail.name}}</p>
			<p class="artifact-rarity">{{rarity}}</p>
			<p class="artifact-level">+{{detail.level}}</p>
		</div>
	</div>
</template>

<template id="empty-box">
	<div class="empty-box">
		<img class="empty-image" :src="image" alt="ERROR"/>
		<p class="empty-context">暂未装备</p>
	</div>
</template>

<template id="weapon-box">
	<div class="weapon">
		<img class="weapon-image" :src="weapon.icon" alt="ERROR"/>
		<div class="weapon-context">
			<p class="weapon-name">{{weapon.name}}</p>
			<p v-if="len !== 0" class="weapon-refine" :style="{ width: len + 'px' }">精炼{{weapon.affix_level}}阶</p>
			<p class="weapon-rarity">{{rarity}}</p>
			<p class="weapon-level">Lv.{{weapon.level}}</p>
			<p class="weapon-desc">{{weapon.desc}}</p>
		</div>
	</div>
</template>

<script>
	 new Vue({
		el: '#app',
		data: {
			id: 10000007,
			uid: 100000000,
			name: "",
            elementName: "",
			level: 0,
			fetter: 0,
            contextLen: 0,
            constellate: 0,
            artifacts: [],
			weapon: {}
		},
		components: {
            background,
            baseInfo,
            reliquaries,
            weaponBox
		},
		methods: {
			setStyle(colorList) {
                document.documentElement.style.setProperty('--baseInfoColor',    colorList[0]);
                document.documentElement.style.setProperty('--contentColor',     colorList[1]);
                document.documentElement.style.setProperty('--backgroundColor',  colorList[2]);
                document.documentElement.style.setProperty('--elementColor',     colorList[3]);
                document.documentElement.style.setProperty('--titleColor',       colorList[4]);
                document.documentElement.style.setProperty('--splitLineColor',   colorList[5]);
			},
			getLength(str) {
                return str.replace(/[\u0391-\uFFE5]/g,"aa").length / 2;
            },
            readJSON(file, callback) {
                fetch(file).then(res => {
                    return res.json().then(data => {
                        callback(data);
                    })
                })
            }
		},
		mounted() {
            this.readJSON('../../data/record/genshin-character.json', res => {
                this.uid         = res.uid;

                let character    = res.data;
                this.id          = character.id;
                this.name        = character.name;
                this.fetter      = character.fetter;
                this.elementName = character.element;
                this.level       = character.level;
                this.constellate = character.constellationNum;
                this.weapon      = character.weapon;
				this.contextLen  = 320 - this.getLength(this.weapon.name) * 31 - 18;

                switch (this.elementName) {
                    case "Anemo":   this.setStyle([
                        'rgb( 28,  91,  72)', 'rgb( 44, 128, 100)',
                        'rgb( 44, 128, 100)', 'rgb( 44, 128, 100)',
                        'rgb( 45, 148, 116)', 'rgb( 59, 167, 132)'
                    ]); break;
                    case "Cryo":    this.setStyle([
                        'rgb( 50, 105, 133)', 'rgb(  5, 162, 195)',
                        'rgb( 16, 168, 212)', 'rgb(  5, 162, 195)',
                        'rgb(  6, 188, 240)', 'rgb(  5, 165, 199)'
                    ]); break;
                    case "Dendro":  this.setStyle([
                        // 暂无
                    ]); break;
                    case "Electro": this.setStyle([
                        'rgb( 46,  34,  84)', 'rgb( 81,  56, 151)',
                        'rgb( 83,  66, 146)', 'rgb( 81,  56, 151)',
                        'rgb(117,  93, 195)', 'rgb( 80,  55, 161)'
                    ]); break;
                    case "Geo":     this.setStyle([
                        'rgb( 92,  76,  21)', 'rgb(176, 141,  46)',
                        'rgb(201, 144,  20)', 'rgb(176, 141,  46)',
                        'rgb(206, 171,  66)', 'rgb(210, 155,  21)'
                    ]); break;
                    case "Hydro":   this.setStyle([
                        'rgb( 23,  64,  91)', 'rgb( 43, 127, 175)',
                        'rgb( 37, 106, 153)', 'rgb( 43, 127, 175)',
                        'rgb( 77, 162, 211)', 'rgb( 42, 123, 174)'
                    ]); break;
                    case "Pyro":    this.setStyle([
                        'rgb(119,  31,  19)', 'rgb(176,  45,  28)',
                        'rgb(189,  46,  29)', 'rgb(176,  45,  28)',
                        'rgb(218,  52,  34)', 'rgb(191,  61,  27)'
                    ]); break;
                    case "None":    this.setStyle([
                        // 绝版无派蒙配色模板
                        'rgb( 72,  72,  72)', 'rgb(111, 117, 113)',
                        'rgb(111, 111, 111)', 'rgb(111, 117, 113)',
                        'rgb(136, 136, 136)', 'rgb(123, 123, 123)'
                    ]); break;
                }

                let artifacts = [];
                for (let i = 1; i <= 5; i++) {
                    let info = character.artifact.find(el => el.pos === i);
                    artifacts[i] = info ? character.artifact.find(el => el.pos === i) : "empty";
                }
                this.artifacts   = artifacts;
		    });
        }
	});
</script>

</body>
</html>