* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-family: GenshinUsedFont, monospace;
}

body {
    width: 527px;
    height: 1030px;
}

.background {
    position: absolute;
    z-index: -1;
}

.character {
    position: relative;
    width: 367px;
    left: 80px;
    top: 114px;
    border-radius: 50%;
}

.base {
    position: absolute;
}

.character-name {
    position: relative;
    color: var(--styleColor);
    left: 11px;
    top: 158px;
    font-size: 30px;
}

.block {
    position: relative;
    background-color: var(--styleColor);
    height: 24px;
    top: 170px;
    border-radius: 4px;
    display: inline-block;
}

.level-block {
    width: 72px;
    left: 23px;
}

.constellation-block {
    width: 24px;
    left: 27px;
}

.text {
    position: relative;
    display: inline-block;
    top: 164px;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.level-text {
    left: -71px;
}

.constellation-text {
    left: -52px;
}

.example-text {
    color: rgb(143, 148, 154);
    left: -36px;
}

.number-block {
    position: relative;
    height: 28px;
    top: 180px;
    background-color: var(--backgroundColor);
    width: 491px;
    left: 18px;
}

.star {
    position: absolute;
    top: 247px;
    left: 24px;
    height: 25px;
}

.info {
    position: absolute;
    display: inline-block;
}

.base-name {
    color: rgba(255, 255, 255, 0.75);
    font-size: 18px;
    top: 251px;
}

.base-number {
    color: rgb(255, 255, 255);
    font-size: 24px;
    top: 247px;
}

.property-name {
    left: 156px;
    width: 75px;
    text-align: center;
}

.property-number {
    left: 238px;
}

.atk-name {
    right: 46px;
}

.atk-number {
    right: -10px;
}

.dotted {
    position: relative;
    width: 491px;
    left: 18px;
    border-bottom: 2px dashed;
    top: 198px;
    color: var(--dottedColor);
}

.content {
    position: absolute;
    color: rgb(93, 105, 131);
    font-size: 20px;
}

.introduction {
    width: 491px;
    left: 18px;
    top: 307px;
}

.c-left {
    left: 18px;
}

.c-right {
    left: 282px;
}

.c-top {
    top: 376px;
}

.c-bottom {
    top: 412px;
}

.material {
    position: relative;
    top: 450px;
}

.type {
    position: relative;
    display: inline-block;
    color: rgb(93, 105, 131);
    font-size: 23px;
    width: 110px;
    margin-bottom: 5px;
    left: 18px;
}

.list {
    position: relative;
    display: inline-block;
    width: 380px;
    left: 18px;
    top: 8px;
}

.box-element {
    display: inline-block;
    width: 42px;
    height: 42px;
    margin-right: 3px;
}

.clear {
    float: left;
}

.rbg {
    position: absolute;
    width: 42px;
    border-radius: 3px;
}

.item {
    position: relative;
    width: 38px;
    top: 2px;
    left: 2px;
}

@font-face {
    font-family: GenshinUsedFont;
    src: url("../../../../data/font/HYWenHei-85W.ttf");
}