/* 基本信息 */
.dashboard > .app-info-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.dashboard > .app-info-container > .app-info-item {
	width: 25%;
	height: 120px;
	margin: 10px 0;
	padding: 0 15px;
	box-sizing: border-box;
}

.dashboard > .app-info-container > .app-info-item > .info-item-content {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 10px;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	background-color: #fff;
}

.dashboard > .app-info-container > .app-info-item > .info-item-content > .item-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 6%;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: var(--base-color);
	font-size: 32px;
	color: #fff;
	flex-shrink: 0;
}

.dashboard > .app-info-container > .app-info-item > .info-item-content > .item-info {
	margin-left: 8%;
}

.dashboard > .app-info-container > .app-info-item > .info-item-content > .item-info > .item-label {
	font-size: 18px;
	line-height: 22px;
	font-weight: 500;
	color: #666;
}

.dashboard > .app-info-container > .app-info-item > .info-item-content > .item-info > .item-value {
	margin-top: 10px;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: #333;
}

.dashboard > .app-info-container > .app-info-item > .info-item-content > .item-info > .item-value.special {
	font-size: 14px;
}

/* 图表 */
.dashboard > .chart-container {
	margin-top: 28px;
	display: flex;
	flex-wrap: wrap;
}

.dashboard > .chart-container > .chart-box {
	--picker-height: 32px;
	width: calc(50% - 30px);
	margin: 0 15px;
	padding: 20px;
	height: 500px;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	background-color: #fff;
	text-align: center;
	box-sizing: border-box;
}

.dashboard > .chart-container > .chart-box > .chart {
	width: 100%;
	height: calc(100% - var(--picker-height));
}

.dashboard > .chart-container > .chart-box > .picker {
	--el-input-height: var(--picker-height);
}

.dashboard > .chart-container > .chart-box > .picker .el-input__wrapper {
	box-shadow: none;
	background-color: transparent;
	font-size: 15px;
}

.dashboard > .chart-container > .chart-box > .picker .el-input__inner {
	font-weight: 800;
	text-align: center;
	color: #333;
	cursor: pointer;
}

.dashboard > .chart-container > .chart-box > .picker.is-disabled,
.dashboard > .chart-container > .chart-box > .picker.is-disabled .el-input__inner {
	cursor: auto;
}

.dashboard > .chart-container > .chart-box > .picker .el-input__prefix,
.dashboard > .chart-container > .chart-box > .picker .el-input__suffix {
	display: none;
}

@media (max-width: 1300px) {
	.dashboard > .app-info-container > .app-info-item {
		margin: 6px 0;
		padding: 0 8px;
		height: 100px;
		width: 50%;
	}

	.dashboard > .app-info-container > .app-info-item > .info-item-content > .item-icon {
		width: 52px;
		height: 52px;
		font-size: 28px;
	}

	.dashboard > .chart-container {
		margin-top: 14px;
	}

	.dashboard > .chart-container > .chart-box {
		margin: 6px 8px;
		padding: 10px;
		width: 100%;
		height: 380px;
	}
}

@media (max-width: 520px) {
	.dashboard > .chart-container {
		margin-top: 5px;
	}

	.dashboard > .app-info-container > .app-info-item {
		margin: 5px 0;
		padding: 0;
		height: 60px;
		width: 100%;
	}

	.dashboard > .app-info-container > .app-info-item > .info-item-content > .item-icon {
		margin-left: 10px;
		width: 36px;
		height: 36px;
		font-size: 20px;
	}

	.dashboard > .app-info-container > .app-info-item > .info-item-content > .item-info > .item-label {
		font-size: 14px;
		line-height: 16px;
	}

	.dashboard > .app-info-container > .app-info-item > .info-item-content > .item-info > .item-value {
		margin-top: 4px;
		font-size: 14px;
		line-height: 16px;
	}

	.dashboard > .chart-container > .chart-box {
		margin: 5px 0;
		padding: 8px;
		width: 100%;
		height: 320px;
	}
}