.user-page {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.user-page > .nav-btn-box {
	display: flex;
	margin-bottom: 10px;
	align-items: center;
	flex-shrink: 0;
	height: 60px;
	padding: var(--box-padding);
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: var( --box-shadow );
}

.user-page > .nav-btn-box .el-input {
	margin-left: 10px;
	width: 220px;
}

.el-input__inner {
	height: 32px;
	border: 1px solid #ddd;
	border-radius: 16px;
}

.user-page > .nav-btn-box .el-input .el-input_suffix {
	margin-right: 5px;
}

.user-page > .table-view {
	flex: 1;
	padding: var( --box-padding );
	background-color: #fff;
	border-radius: 4px;
	box-shadow: var( --box-shadow );
}

.user-page > .table-view > .el-table {
	height: 100%;
}

.user-page > .table-view > .el-table .el-table__cell {
	padding: 10px 0;
}

.user-page > .table-view > .el-table .users-table-header {
	background-color: #333;
	color: #fff;
}

.user-page > .table-view > .el-table .users-table-header th {
	background-color: transparent;
}

/* 用户 */
.user-page > .table-view > .el-table .user-info {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
}

.user-page > .table-view > .el-table .user-info .user-avatar {
	width: 38px;
	height: 38px;
	border-radius: 4px;
}

.user-page > .table-view > .el-table .user-info .user-nickname {
	width: 120px;
	margin-left: 18px;
	text-align: left;
}

/* 权限 */
.user-page > .table-view > .el-table .user-auth {
	display: inline-block;
	padding: 2px 15px;
	width: 80px;
	background-color: #727272;
	border-radius: 4px;
	color: #fff;
}

.user-page > .table-view > .el-pagination {
	margin-top: 10px;
	text-align: right;
}