.user-page {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.user-page > .nav-btn-box {
	display: flex;
	margin-bottom: 10px;
	align-items: center;
	flex-shrink: 0;
	height: 60px;
	padding: var(--box-padding);
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: var(--box-shadow);
}

.user-page > .nav-btn-box .el-input {
	margin-left: 10px;
	width: 220px;
}

.user-page > .nav-btn-box .el-input .el-input__wrapper {
	height: 32px;
	border-radius: 16px;
	box-sizing: border-box;
}

.user-page > .nav-btn-box .el-input .el-input_suffix {
	margin-right: 5px;
}

.user-page > .table-view {
	flex: 1;
	padding: var(--box-padding);
	background-color: #fff;
	border-radius: 4px;
	box-shadow: var(--box-shadow);
}

.user-page > .table-view > .el-table {
	height: 100%;
}

.user-page > .table-view > .el-table .users-table-header {
	background-color: #333;
	color: #fff;
}

.user-page > .table-view > .el-table .users-table-header th {
	background-color: transparent;
}

/* 用户 */
.user-page > .table-view > .el-table .user-info {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
}

.user-page > .table-view > .el-table .user-info .user-avatar {
	width: 38px;
	height: 38px;
	border-radius: 4px;
}

.user-page > .table-view > .el-table .user-info .user-nickname {
	width: 120px;
	margin-left: 18px;
	text-align: left;
}

/* 权限 */
.user-page > .table-view > .el-table .user-auth {
	display: inline-block;
	padding: 2px 10px;
	width: 86px;
	background-color: #727272;
	border-radius: 4px;
	color: #fff;
}

.user-page > .table-view > .el-pagination {
	margin-top: 10px;
	justify-content: flex-end;
}

/* 按钮 */
.user-page > .table-view > .el-table .el-button {
	font-size: 12px;
}

.user-page > .table-view > .el-table .el-button + .el-button {
	margin-left: 6px;
}

/* 弹窗 */
.user-page .el-dialog {
	--dialog-height: 859px;
	margin: calc((var(--app-height) - var(--dialog-height)) / 2) auto 0;
	width: 600px;
	height: var(--dialog-height);
}

.user-page .el-dialog .el-dialog__header {
	position: relative;
	height: 54px;
	box-sizing: border-box;
	z-index: 99999;
}

.user-page .el-dialog .el-dialog__body {
	margin-top: -34px;
	padding: 0;
}

@media (max-width: 768px) {
	.user-page > .table-view {
		padding: 0;
	}

	.user-page .el-dialog {
		width: 90%;
		--dialog-height: 563px;
	}
}