.layout-container {
	font-family: "微软雅黑", sans-serif;
}

.layout-header {
	display: none;
}

.layout-aside {
	position: fixed;
	width: var( --aside-width );
	background-color: #3c444d;
	z-index: 101;
}

.layout-aside .title {
	text-align: center;
	font-size: 18px;
	font-weight: 1000;
	color: #ffffff;
	line-height: var( --logo-height );
	height: var( --logo-height );
	background-color: #3c444d;
}

.layout-aside .title sub {
	position: absolute;
	top: -13px;
	right: 4px;
	font-size: 9px;
}

.layout-aside .el-scrollbar__view {
	background-color: #353d44;
}

.layout-aside .menu-item {
	position: relative;
	display: block;
	height: 44px;
	width: 100%;
	color: #d6d7d9;
	margin-bottom: 1px;
	font-size: 15px;
	line-height: 44px;
	padding-left: 52px;
	box-sizing: border-box;
	border-left: 2px solid #404040;
}

.layout-aside i.el-icon {
	position: absolute;
	top: 14px;
	left: 24px;
	--color: #d6d7d9;
}

.layout-aside .menu-item:hover,
.layout-aside .menu-item.router-link-active {
	color: #ffffff;
	border-left: 2px solid #20a53a;
	background-color: #2c3138;
}

.layout-aside .menu-item:hover i.el-icon,
.layout-aside .menu-item.router-link-active i.el-icon {
	--color: #ffffff;
}

.layout-aside .el-scrollbar {
	height: calc( 100vh - var( --logo-height ) );
}

.main-scrollbar.el-scrollbar {
	margin-left: var( --aside-width );
	width: calc( 100vw - var( --aside-width ) - 60px );
	background-color: #f2f2f2;
	z-index: 99;
	padding: 16px 30px 0;
}

.main-scrollbar > > .el-scrollbar__view {
	max-height: calc( 100vh - 16px );
}

.layout-main {
	position: relative;
	min-height: calc( 100vh - 16px - 12px - 1px - var( --footer-height ) );
}

.layout-footer {
	height: var( --footer-height );
	width: 100%;
	text-align: center;
	font-size: 0.9rem;
	line-height: var( --footer-height );
	margin-top: 0.75rem;
	border-top: 1px solid #c6c6c6;
	font-family: Consolas, Liberation Mono, sans-serif;
}

.mobile .layout-aside:not(.open) {
	width: 0 !important;
	left: 0;
}

.open.mantle {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	z-index: 100;
	background-color: rgba( 0, 0, 0, 0.28 );
}

@media (max-width: 768px) {
	.layout-header {
		position: fixed;
		display: block;
		z-index: 101;
		margin: 7px 24px;
		background-color: #f2f2f2;
	}
	
	.layout-header.open {
		background-color: #afafaf;
	}

	.layout-aside .menu-item {
		border-left: 3px solid #404040;
	}

	.layout-aside .menu-item:hover,
	.layout-aside .menu-item.router-link-active {
		border-left: 3px solid #20a53a;
	}

	.layout-aside:not( .open ) {
		pointer-events: none;
		transition-duration: 0.3s;
		transform: translate3d( calc( -1 * var( --aside-width ) ), 0, 0 );
	}

	.layout-aside.open {
		transition: transform 0.28s;
		width: var( --aside-width ) !important;
	}

	.main-scrollbar.el-scrollbar {
		margin-left: 0;
		width: calc( 100vw - 28px );
		background-color: #f2f2f2;
		padding: var( --mobile-header ) 14px 0;
	}

	.main-scrollbar > > .el-scrollbar__view {
		max-height: calc( 100vh - var( --mobile-header ) );
	}

	.layout-main {
		min-height: calc( 100vh - var( --mobile-header ) - 12px - 1px - var( --footer-height ) );
	}
}