.form-item {
	flex-wrap: wrap;
	margin: 1px 0;
	padding: 3px 5px;
}

.form-item > .el-form-item__label {
	justify-content: flex-start;
	align-items: center;
	width: 140px;
	font-size: 12px;
	line-height: 18px;
	color: #666;
	text-align: left;
}

.form-item > .el-form-item__content {
	width: 70%;
	font-size: 12px;
	line-height: 0;
	flex: 0 0 auto;
}

.form-item .form-item-content {
	margin-right: 10px;
}

.form-item .form-item-content.no-desc {
	margin-right: 0;
	width: 100%;
}

.form-item .form-item-desc {
	color: #9ba3af;
	font-size: 12px;
	line-height: 18px;
}

.form-item .el-input,
.form-item .el-radio__label {
	font-size: 12px;
}

@media (max-width: 768px) {
	.form-item .form-item-content {
		margin-right: 0;
		width: 100%;
	}
}