.aside-view {
	position: fixed;
	left: 0;
	top: 0;
	width: var(--aside-width);
	height: var(--app-height);
	user-select: none;
	transition: transform .3s;
	z-index: 200;
}

.aside-view .el-scrollbar {
	height: 100%;
}

.aside-view .el-menu {
	width: 100%;
	min-height: var(--app-height);
}

.aside-view .el-menu > .logo-box {
	display: flex;
	align-items: center;
	padding: 0 10px;
	height: 60px;
	box-sizing: border-box;
}

.aside-view .el-menu > .logo-box > img {
	margin-right: 6px;
	width: 25px;
	height: 25px;
}

.aside-view .el-menu > .logo-box .login-title {
	margin-right: 3px;
	font-weight: 700;
	font-size: 22px;
}

.aside-view .el-menu > .logo-box .login-desc {
	font-size: 16px;
	color: #999;
}

.aside-view .el-menu > .routes-group {
	margin-top: 17px;
}

.aside-view .el-menu > .routes-group > .group-title {
	padding: 6px 21px;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #ccc;
}

.aside-view .el-menu .el-menu-item,
.aside-view .el-menu .el-sub-menu__title {
	display: flex;
	align-items: center;
	color: #333;
	font-weight: 700;
	font-size: 14px;
	border-left: 4px solid transparent;
}

.aside-view .el-menu .el-menu-item i[class^="icon-"],
.aside-view .el-menu .el-sub-menu__title i[class^="icon-"] {
	margin-right: 14px;
	font-size: 26px;
	font-weight: 300;
}

.aside-view .el-menu .el-menu-item.is-active {
	background-color: #fff9e7!important;
	border-left-color: var(--base-color);
}

.aside-view .el-menu .el-menu-item:hover {
	background-color: #f0f2f5;
}