.footer-view {
	padding: 0 12px;
	height: var(--footer-height);
}

.footer-view > .footer-content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	border-top: 1px solid #c6c6c6;
	font-family: Consolas, Liberation Mono, sans-serif;
	text-align: center;
	font-size: 0.9rem;
	box-sizing: border-box;
}