.header-view {
	position: relative;
	user-select: none;
	flex-shrink: 0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	z-index: 100;
}

.header-view > .header-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 18px;
	height: var(--header-height);
}

.header-view > .header-menu > .nav-left {
	display: flex;
	align-items: center;
}

.header-view > .header-menu > .nav-left > .el-breadcrumb {
	margin-left: 18px;
}

.header-view > .header-menu > .nav-left > .el-breadcrumb .el-breadcrumb__inner span,
.header-view > .header-menu > .nav-left > .el-breadcrumb .el-breadcrumb__inner a {
	font-size: 14px;
	line-height: 20px;
	font-weight: 500;
	color: #666;
}

/* 头部按钮样式 */
.header-view > .header-menu > .nav-right {
	display: flex;
	align-items: center;
	column-gap: 10px;
}
.header-view > .header-menu > .nav-right > .nav-btn {
	padding: 7px;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color .3s;
}

.header-view > .header-menu > .nav-right > .nav-btn:hover {
	background-color: #f0f2f5;
}

.header-view > .header-menu > .nav-right > .nav-btn > i {
	font-size: 20px;
	font-weight: 300;
}